/* RESET GENERALE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}


/* MAIN TOP */

main > h1{
    text-align: center;
    line-height: 3em;
    color: #e65e46;
    font-weight: bold;
}


main{
    width: 70%;
    margin: 0 auto;
}

main > p{
    margin-bottom: 1em;
    text-align: center;
}

/* MAIN BOTTOM */

.container{
}


/* CONTENUTO RIGA */
.section{
    width: 100%;
}

.item{
    width: calc(100% / 3 - 1em);
    margin-right: 1.5em;
    margin-top: 1em;
    float: left;
    color: white;
    height: 5em;
    background-color: rgb(15 14 23);
    border: 3px solid lightgrey;
    border-radius: 5px;
}


.item:last-child{
    margin-right: 0;
}


/* CONTENUTO ITEM */

div.item img{
    float: left;
    max-height: 100%;
    margin-right: 0.6em;
}

div.item p , div.item h3{
    margin: 0.2em;
}

div.item a{
    text-decoration: none;
}