/* RESET GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    font-size: 100%;
}

.clearfix::after{
    display: table;
    content: "";
    clear: both;
}



/* MAIN TOP */
main > h1{
    font-size: 2rem;
    text-align: center;
    line-height: 3em;
    color: #e65e46;
    font-weight: bold;
}


main{
    width: 70%;
    margin: 0 auto;
}

main > p{
    margin-bottom: 1em;
    text-align: center;
}



/* MAIN BOTTOM */
.container{
}


/* CONTENUTO RIGA */
.section{
    width: 100%;
}

.item{
    width: calc(100% / 3 - 1em);
    margin-right: 1.5em;
    margin-top: 1em;
    float: left;
    color: white;
    background-color: rgb(15 14 23);
    border: 3px solid lightgrey;
    border-radius: 5px;
}


.item:last-child{
    margin-right: 0;
}


/* CONTENUTO ITEM */

div.item img{
    float: left;
    width: 80px;
    margin-right: 0.3em;
}

div.item > div{
    float: left;
    padding: 0,2em;
}

div.item > div p{
    margin: 0.2em;
    font-size: 0.8rem;
}

div.item > div h3{
    margin: 0.2em;
    font-size: 1.1rem;
}

div.item > div a{
    text-decoration: none;
}
